@font-face {
    font-family: iCielBCOldStyle;
    src: url(../kits/iCielBCOldStyle-Regular.ttf);
}

@font-face {
    font-family: lato;
    src: url(../kits/Lato-Regular.ttf);
}

.logo {
    width: 100px;
    height: 120px;
}

.nav-custom {
    background-color: #FFF6E3;
}


.nav-custom a {
    color: #FE9594;
}

.more-details-btn {
    background-color: #FE9594;
    color: #FFF6E3;
    font-size: 20px;
}

.icon-image {
    max-width: 100%;
    min-width: 100%;
}


.special-text {
    font-family: iCielBCOldStyle !important;
}

.lato-font {
    font-family: lato;
}


::placeholder {
    color: FE9594;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: FE9594;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: FE9594;
}

.image-container {
    width: 600px;
    height: 610px;
}

.shop-now-btn {
    background: #FFF6E3;
    border: 1px solid #FFF6E3;
    color: #FE9594;
    padding: 0 1rem;
}

.content-text {
    font-size: 15px;
}

.testimony-section a {
    text-decoration: underline !important;
}

.text span p {
    color: black !important;
}

@media (max-width: 768px) {
    .owl-carousel.home-slider .slider-item-1 {
        background-image: url(../images/index_page/Banner-1.2\ Tablet.png) !important;
    }

    .owl-carousel.home-slider .slider-item-2 {
        background-image: url(../images/index_page/Banner-2.2\ Tablet.png) !important;
    }

    .banner {
        background-image: url(../images/aboutus_page/TABLET_banner.jpg) !important;
    }

    .company-image {
        background-image: url(../images/aboutus_page/TABLET_company\ image.png) !important;
    }
}

@media (max-width: 375px) {
    .owl-carousel.home-slider .slider-item-1 {
        background-image: url(../images/index_page/Banner-1.1\ Mobile.png) !important;
    }

    .owl-carousel.home-slider .slider-item-2 {
        background-image: url(../images/index_page/Banner-2.3\ Mobile.png) !important;
    }

    .banner {
        background-image: url(../images/aboutus_page/MOBILE_banner.jpg) !important;
    }

    .company-image {
        background-image: url(../images/aboutus_page/MOBILE_company\ image.png) !important;
    }
}

.search-nav {
    display: block;
}

.help-nav {
    display: none;
}

@media (max-width: 991.98px) {
    .nav-custom {
        background-color: #FED0D0;
    }

    .search-nav {
        display: none;
    }

    .help-nav {
        display: block;
    }

    .icon-shopping-bag:before {
        content: "\f290";
        color: #FFF6E3;
    }
}