@font-face {
    font-family: iCielBCOldStyle;
    src: url(../kits/iCielBCOldStyle-Regular.ttf);
}

@font-face {
    font-family: lato;
    src: url(../kits/Lato-Regular.ttf);
}

.logo {
    width: 100px;
    height: 120px;
}

.nav-custom {
    background-color: #FFF6E3;
}


.nav-custom a {
    color: #FE9594;
}

.more-details-btn {
    background-color: #FE9594;
    color: #FFF6E3;
    font-size: 20px;
}

.icon-image {
    max-width: 100%;
    min-width: 100%;
}


.special-text {
    font-family: iCielBCOldStyle !important;
}

.lato-font {
    font-family: lato;
}


::placeholder {
    color: FE9594;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: FE9594;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: FE9594;
}

.image-container {
    width: 400px;
}

.shop-now-btn {
    background: #FFF6E3;
    border: 1px solid #FFF6E3;
    color: #FE9594;
    padding: 0 1rem;
}

.content-text {
    font-size: 15px;
}

.testimony-section a {
    text-decoration: underline !important;
}

.text span p {
    color: black !important;
}

.product-name {
    font-size: 18px;
    color: #441414;
    margin-bottom: 10px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Poppins", Arial, sans-serif;
}

/* .search-nav {
    display: block;
} */


/* .help-nav {
    display: none;
} */

.cart-text-nav {
    display: none;
}

.cart-icon-nav {
    display: block;
}

.yellow-bg {
    background-color: #fff6e3;
}


.product-remove a {
    border-radius: 10px;
}

.cart-total span {
    color: #000;
}

.cart-total .end {
    text-align: end;
    font-size: 18px;
}

.price {
    color: #000;
    font-size: 15px;
}

.price-before {
    text-decoration: line-through;
    color: #b3b3b3;
}

.price-after {
    margin-left: 10px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#lblCartCount {
    font-size: 15px;
    background: #000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -15px;
}

.information-contact a {
    color: #000;
}

.information-contact span {
    text-decoration: underline;
}

/* .products img{
    width: 1440px;
    height: 1440px;
} */
@media (max-width: 768px) {
    .index-section .owl-carousel.home-slider .slider-item-1 {
        background-image: url(../images/index_page/Banner-1.2\ Tablet.png) !important;
    }

    .index-section .owl-carousel.home-slider .slider-item-2 {
        background-image: url(../images/index_page/Banner-2.2\ Tablet.png) !important;
    }

    .product-single-section .owl-carousel.home-slider .slider-item-1 {
        background-image: url(../images/product_detail/Artboard\ –\ 2.png) !important;
    }

    .product-single-section .owl-carousel.home-slider .slider-item-2 {
        background-image: url(../images/product_detail/Artboard\ –\ 4.png) !important;
    }

    .about-banner {
        background-image: url(../images/aboutus_page/TABLET_banner.jpg) !important;
    }

    .company-image {
        background-image: url(../images/aboutus_page/TABLET_company\ image.png) !important;
    }

    .cart-banner {
        background-image: url(../images/cart/TABLET_banner_Cart.jpg) !important;
    }

    .contact-banner {
        background-image: url(../images/contact/Banner\ contact-tab.png) !important;
    }
}

@media (max-width: 375px) {
    .index-section .owl-carousel.home-slider .slider-item-1 {
        background-image: url(../images/index_page/Banner-1.1\ Mobile.png) !important;
    }

    .index-section .owl-carousel.home-slider .slider-item-2 {
        background-image: url(../images/index_page/Banner-2.3\ Mobile.png) !important;
    }

    .product-single-section .owl-carousel.home-slider .slider-item-1 {
        background-image: url(../images/product_detail/Artboard\ –\ 3.png) !important;
    }

    .product-single-section .owl-carousel.home-slider .slider-item-2 {
        background-image: url(../images/product_detail/Artboard\ –\ 6.png) !important;
    }

    .about-banner {
        background-image: url(../images/aboutus_page/MOBILE_banner.jpg) !important;
    }

    .company-image {
        background-image: url(../images/aboutus_page/MOBILE_company\ image.png) !important;
    }

    .cart-banner {
        background-image: url(../images/cart/MOBILE_banner_Cart.jpg) !important;
    }

    .contact-banner {
        background-image: url(../images/contact/Banner\ contact-mobile.png) !important;
    }

    .product-name {
        font-size: 12px;
    }

    .quantity-right-plus {
        padding: 8px 10px !important;
    }

    .quantity-left-minus {
        padding: 8px 10px !important;
    }

    .price-after {
        margin-left: 0px;
    }
}





@media (max-width: 991.98px) {
    /* .search-nav {
        display: none;
    }

    .help-nav {
        display: block;
    } */

    .cart-text-nav {
        display: block;
    }

    .cart-icon-nav {
        display: none;
    }

    .quantity span {
        margin: 0px !important;
        padding: 10px 0;
        width: 100%;
    }

}

@media (max-width: 767.67px) {
    .form-message {
        margin-top: 10rem;
    }
}